<!-- <div class="container">
  <div class="users">
    <a href="/userHome">Home</a>
    <h2>Edit Profile Information</h2>
    <form>
      <h3>User Information:</h3>
      <div>
        <label for="username" >Username:</label>
        <input type="text"  value="{{ec.userName}}" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" value=""  />
      </div>
      <h3>Support Information</h3>
      <div>
        <label for="persononename">Person 1:</label>
        <input type="text" value="{{ec.personOne}}"/>
        <label for="personeonenumber">Phone Number:</label>
        <input type="text" value="+1 {{ec.phoneOne}}" />
      </div>
      <div>
        <label for="persontwoname">Person 2:</label>
        <input type="text" value="{{ec.personTwo}}" />
        <label for="persontwonumber">Phone Number:</label>
        <input type="text" value= "+1 {{ec.phoneTwo}}"/>
        <div>
          <button class="btn btn-default" ng-click="ec.editProfile()">Edit</button>
        </div>
      </div>
    </form>
  </div>
</div> -->
