<div ng-init="uc.getJournal()">


<article class="users">
<blockquote>
          <strong>If there's </strong> a book you want to read, <em> but it hasn't been written yet,</em> <strong>then you must write it.</strong>
      </blockquote>
      <b>Toni Morrison.</b>
</article>

<div class="form-group col-md-3 users" id="journal">
  <label for="comment">Feel free to write anything's that's on your mind. We're here to listen:</label>
  <textarea class="form-control" ng-model="uc.user.journal" rows="5" id="comment"></textarea>
  <button class="btn btn-default" ng-click="uc.addJournal()">Submit Entry</button>
</div>
<div ng-repeat="entry in uc.journalArray">
  <div class="col-xs-4 card">
    <h4>{{entry.journal}}</h4>
  </div>

</div>
<div>
  <button class="btn btn-default" ng-click="uc.logout()">Log Out</button>
  <a href="/userHome">Home</a>
</div>
