<div class="container">
  <article class="users">
  <blockquote>
            <strong>Did you hear about the rose,</strong> that grew from a crack <em> <strong>in the concrete.</strong>
        </blockquote>
        <b>Tupac Shakur.</b>
  </article>
<div class="users">
  <h2>Register User:</h2>
  <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    <form ng-submit="lc.registerUser()">

        <!-- <label for="username" >Username:</label> -->
        <input type="text" placeholder="Username "ng-model="lc.user.username" />

      <div>
        <!-- <label for="password">Password:</label> -->
        <input type="password" placeholder="Password" ng-model="lc.user.password" />
      </div>

        <h2>Enter Support Information:</h2>
        <div>
          <input type="text" ng-model="lc.user.persononename" placeholder="Person 1"/>
        </div>
        <div>
          <input type="text" ng-model="lc.user.personeonenumber" placeholder="Phone Number" />
        </div>
        <div>
          <input type="text" ng-model="lc.user.persontwoname" placeholder="Person 2" />
        </div>
        <div>
          <input type="text" ng-model="lc.user.persontwonumber" placeholder="Phone Number"/>
        </div>
        <input class="btn btn-default" type="submit" name="submit" value="Register"/>
        <a href="/home">Cancel</a>
      </form>

  </div>
  </div>
