<h1>Welcome {{uc.userName}}!</h1>

<article class="container">

<blockquote>
          <strong>When you let your light shine,</strong> you unconsciously give, <em>others the permission</em> to do <strong>the same.</strong>
      </blockquote>
      <b>Nelson Mandela.</b>
<h3>How are you feeling today?</h3>

</article>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="fc.one">1</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="fc.two">2</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="fc.three">3</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="fc.four">4</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="fc.five">5</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="fc.six">6</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="fc.seven">7</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="fc.eight">8</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="fc.nine">9</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="fc.ten">10</label>
</div>


  <div class="form-group col-xs-4">
    <label for="comment">Feel free to write anything's that's on your mind. We're here to listen:</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
  </div>
</div>

</body>
