<div ng-init="uc.getUserInfo()">


<h1>Welcome {{uc.user.username}}!</h1>
<div>
  <a href="/edit">Edit Profile</a>
  <button class="btn btn-default" ng-click="uc.logout()">Log Out</button>
  <button class="btn btn-default" ng-click="uc.feeling()">Your Progress</button>
</div>

<article class="users">
<blockquote>
          <strong>When you let your light shine,</strong> you unconsciously give, <em>others the permission</em> to do <strong>the same.</strong>
      </blockquote>
      <b>Nelson Mandela.</b>
</article>

<div ng-controller="FeelingController as fc" class="users">
  <h3 class="text">How are you feeling today?</h3>

<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="uc.user.feeling" ng-click="fc.selectRadio(1)">1</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="uc.user.feeling" ng-click="fc.selectRadio(2)">2</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="uc.user.feeling" ng-click="fc.selectRadio(3)">3</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="uc.user.feeling" ng-click="fc.selectRadio(4)">4</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="uc.user.feeling" ng-click="fc.selectRadio(5)">5</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="uc.user.feeling" ng-click="fc.selectRadio(6)">6</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="uc.user.feeling" ng-click="fc.selectRadio(7)">7</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="uc.user.feeling" ng-click="fc.selectRadio(8)">8</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="uc.user.feeling" ng-click="fc.selectRadio(9)">9</label>
</div>
<div class="radio checkbox-inline">
  <label><input type="radio" name="optradio" ng-model="uc.user.feeling" ng-click="fc.selectRadio(10)">10</label>
</div>
<div>
  <button class="btn btn-default" ng-click="fc.selectFeeling()">Submit Mood Entry</button>
</div>
</div>
<div class="journal">
    <h3>Your Thoughts</h3>

<div>
  <button class="btn btn-default" ng-click="uc.journal()">Journal</button>
</div>
</div>
</div>
